 <!-- About Section -->
    <section class="success" id="about">
        <div id="bottom-corner"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div id="xtra-padding" class="row">
                <div id="col1" class="col-lg-4 col-lg-offset-2">
                    <p>I am a graduate from the University of Washington with a double degree in physics and astronomy. I worked as a web engineer at a graphic design firm for two years before begining freelance work.</p>
                </div>
                <div id="col2" class="col-lg-4">
                    <p>Music is an integral part of my life and I've been playing piano and guitar for over ten years. I also enjoy cooking, comedy, video and computer games, bicycling, and tennis.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="img/vg_resume_web.pdf" target="_blank" class="btn btn-lg btn-outline wow bounce">
                        <i class="fa fa-download"></i> Download Resume
                    </a>
                </div>
            </div>
        </div>
    </section>