 <!-- About Section -->
    <section class="success" id="about">
        <div id="bottom-corner"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div id="xtra-padding" class="row">
                <div id="col1" class="col-lg-4 col-lg-offset-2">
                    <p>I am a graduate from the University of Washington with a double degree in Physics and Astronomy. I worked as a Web Engineer at a graphic design firm in downtown Seattle for two years before beginning freelance work.</p>
                </div>
                <div id="col2" class="col-lg-4">
                    <p>I enjoy cooking, comedy, video and board games, fantasy and mystery novels, bicycling, tennis and playing with my cats. Music is an integral part of my life and I've been playing piano and guitar off-and-on for over fifteen years.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="img/vg_resume_web.pdf" target="_blank" class="btn btn-lg btn-outline wow bounce">
                        <i class="fa fa-download"></i> Download Resume
                    </a>
                </div>
            </div>
        </div>
    </section>